footer.footer{
  background-color: black;
  color: white;
  text-align: center;
  width: calc(100% - 260px);
  padding: 10px;
  box-sizing: border-box;
  margin-left: 260px;
}
@media all and (max-width:767px){
  footer.footer{
    width:100%;
    margin-left: 0px;
  }

}
